:root {
  /* Font sizes */
  --sm: 12px;
  --md: 16px;
  --lg: 20px;
  --title:28px;
  --xlg: 38px;

  /* Colors */
  --white: #F9F9F9;
  --black: #0F0E0E;
  --bg-white:#EEEEEE;
  --bg-black:#2B2B2B;
}

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Header*/
.header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/background-code.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}

/* Logo y nombre */
.logo {
  transition: all 0.5s ease;
}
.logo a p {
  color: var(--white);
  padding: 8px 4px 8px 8px;
  font-weight: bold;
}
.logo-link {
  display: flex;
  text-decoration: none;
  align-items: center;
}
.logo-link img {
  height: 100%;
}
.logo:hover {
  background-color:var(--white);
  border-radius: 16px;
  padding: 0px 8px;
}
.logo:hover p {
  color: var(--black);
}
.logo:hover img {
  content: url(../img/code-alt-black.svg);
}
.menu-mobile a img {
  content: url("../img/menu-black.svg");
}

/* Menu mobile */
.menu-mobile {
  display: none;
}

/* Menu superior */
.menu {
  display: flex;
}
.menu li {
  list-style: none;
  margin: 12px;
}
.menu li a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  transition: all 0.5s ease;
}
.menu .close-menu {
  display: none;
}
.menu li a:hover {
  padding: 5px 10px;
  background-color: var(--white);
  color: var(--black);
  border-radius: 15px;
}

/* Barra de navegación scroll */
.nav.active {
  position: fixed;
  background: var(--white);
  padding: 8px 12px;
  width: 100%;
}
.nav.active .logo img {
  content: url(../img/code-alt-black.svg);
}
.nav.active .logo p {
  color: var(--black);
}
.nav.active .menu li a {
  color: var(--black);
}
.nav.active .logo:hover {
  background-color: var(--bg-black);
}
.nav.active .logo:hover p {
  color: var(--white);
}
.nav.active .logo:hover img {
  content: url(../img/code-alt.svg);
}
.nav.active .menu li a:hover {
  padding: 5px 10px;
  background-color: var(--bg-black);
  color: var(--white);
  border-radius: 15px;
}

/* Principal Vista */
.principal {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: auto auto;
  place-content: center;
  padding: 0 60px 120px;
}
.principal-photo {
  width: 160px;
  height: 160px;
  margin-right: 38px;
}
.principal-photo img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 1px solid var(--white);
}
.principal-info {
  color: var(--white);
}
.principal-info h1 {
  font-size: var(--xlg);
  font-weight: bold;
  margin-bottom: 12px;
}
.principal-info p {
  font-size: var(--lg);
}

/* More about */
.more-about{
  position: absolute;
  bottom: 32px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.more-about a{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-about a img{
  height: 32px;
  width: 32px;
  animation: MoveUpDown 0.8s linear infinite;
}
@keyframes MoveUpDown{
  0%,100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-6px);
  }
}
.more-about a p{
  color: var(--white);
  font-size: var(--md);
}

/* Main content */
main{
  background-color: var(--bg-white);
  display: grid;
  grid-template-rows: auto auto auto auto;
}

/* Profile */

.profile{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 120px 120px;
}
/* Hide a link */
.profile a{
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}
.profile img{
  height: 240px;
  width: 240px;
}
.profile-content{
  display: flex;
  flex-direction: column;
  width: 520px;
  justify-self: start;
}
.profile-content h2{
  color: var(--black);
  font-size: var(--xlg);
  margin-bottom: 36px;
}
.profile-content p{
  color: var(--black);
  font-size: var(--lg);
}
.profile-content p:last-child{
  margin-top: 16px;
}


/* -------------------------------------------- */
/*------------------ RESPONSIVE ----------------*/
/* -------------------------------------------- */

@media (max-width: 640px) {
  .header {
    height: 100vh;
  }

  /* Menu design*/
 
  .menu{
    display: flex;
    flex-direction: column;
    justify-content:start;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: auto;
    padding: 12px;
    background-color: var(--white);
    transition: all 1s ease;
    opacity: 0;
    overflow: hidden;
  }
  /* Show the menu */
  /* Pasa de tener width:0 a width:160px */
  .menu.active {
    width: 160px;
    opacity: 1;
    transition: all 1s ease;
  }
  .menu li a {
    color: var(--black);
  }
  .menu .close-menu {
    display: block;
    text-align: right;
    margin: 0;
    padding-right: 12px;
    transition: all 0.5s ease;
  }
  .menu .close-menu:active img {
    transform: scale(1.2);
  }
  .menu .close-menu img {
    height: 32px;
    width: 32px;
  }
  .menu li a:hover {
    padding: 5px 10px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 15px;
  }

  /* Principal */
  .principal {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 120px;
  }
  .principal-photo {
    width: 100px;
    height: 100px;
    margin: 0;
  }
  .principal-info h1 {
    text-align: center;
  }
  .principal-info p {
    text-align: center;
  }

  /* Menu mobile */
  .menu-mobile {
    display: grid;
    place-items: center;
    cursor: pointer;
    margin-right: 12px;
  }
  .menu-mobile img {
    width: 32px;
    height: 32px;
  }
  .menu-mobile:active img {
    transform: scale(1.2);
  }
  .nav.active .menu-mobile img {
    content: url("../img/menu-black.svg");
  }

  /* Profile */
  .profile{
    padding: 120px 36px;
    flex-direction: column;
  }
  .profile-content{
    width: 100%;
  }
  .profile-content h2{
    font-size: var(--lg);
  }
  .profile-content p{
    font-size: var(--md);
  }
}


/* Responsive for profile */
@media (max-width: 1000px) {
  .profile{
    flex-direction: column;
    padding: 60px;
  }
  .profile img{
    margin-top: 36px;
  }
  .profile-content p{
    text-align: justify;
  }
}