:root {

  /* Font sizes */
  --sm: 12px;
  --md: 16px;
  --lg: 20px;
  --xlg: 38px;

  /* Colors */
  --white: #FFFFFF;
  --black: #000000;

}

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Header*/
.header {
  display: grid;
  background-image: url(../img/background-code.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}


/* Logo y nombre */
.logo {
  transition: all 0.5s ease;
}
.logo a p {
  color: #fff;
  padding: 8px 4px 8px 8px;
  font-weight: bold;
}
.logo-link {
  display: flex;
  text-decoration: none;
  align-items: center;
}
.logo-link img {
  height: 100%;
}
.logo:hover {
  background-color: #fff;
  border-radius: 16px;
  padding: 0px 8px;
}
.logo:hover p {
  color: #000;
}
.logo:hover img {
  content: url(../img/code-alt-black.png);
}


/* Menu mobile */
.menu-mobile{
  /* display:none; */
}


/* Menu superior */
.menu {
  display: flex;
}
.menu li {
  list-style: none;
  margin: 10px;
}
.menu li a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  transition: all 0.5s ease;
}
.menu li a:hover {
  padding: 5px 10px;
  background-color: #fff;
  color: #000;
  border-radius: 15px;
}

/* Barra de navegación scroll */
.nav.active {
  position: fixed;
  background: #fff;
  padding: 6px 12px;
  width: 100%;
}
.nav.active .logo img {
  content: url(../img/code-alt-black.png);
}
.nav.active .logo p {
  color: #000;
}
.nav.active .menu li a {
  color: #000;
}
.nav.active .logo:hover {
  background-color: #26282b;
}
.nav.active .logo:hover p {
  color: #fff;
}
.nav.active .logo:hover img {
  content: url(../img/code-alt.png);
}
.nav.active .menu li a:hover {
  padding: 5px 10px;
  background-color: #26282b;
  color: #fff;
  border-radius: 15px;
}


/* Principal Vista */
.principal {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: auto auto;
  place-content: center;
  padding: 60px 60px 160px 60px;
}
.principal-photo {
  width: 160px;
  height: 160px;
  margin-right: 38px;
}
.principal-photo img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 1px solid var(--white);
}
.principal-info {
  color: var(--white);
}
.principal-info h1 {
  font-size: var(--xlg);
  font-weight: bold;
  margin-bottom: 12px;
}
.principal-info p {
  font-size: var(--lg);
}

/* Responsive */
@media (max-width: 640px) {
  .menu{
    display:none;
  }
  .menu-mobile{
    /* display: block; */
  }
}
